@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Book List App!</h1>
    <p>Click "Book" in the navigation bar to see a list of books.</p>
</div>
